body {
    background: #2f2840 url(../company_site/spacedesign/images/bg_body.gif) 0 repeat;
    font-family: "Nunito", sans-serif;
    text-align: center;
}

/* 
-------
HEADER
-------
 */

header {
    padding-top: 135px;
 }

header nav li {
    display: inline-block;
}

nav {
    font-size: 26px;
    padding-bottom: 38px;
}

h1 {
    margin: 0 0 115px 0;
}

nav li {
    padding: 0 42px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #cacaca;
}

.active {
    color: #6db9ff;
    font-weight: bold;
}

/* 
-------
MAIN 
------
 */

main {
    background-color: white;
    padding-top: 100px;
}

.column {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

main p {
    font-weight: 600;
    font-size: 20px;
}

h2 {
    font-size: 36px;
    padding-bottom: 20px;
}

h2:before,
h2:after {
    display: inline-block;
    padding: 0 24px;
    font-size: 30px;
    content: "\2022"; /* bull symbol wrapping heading */
    vertical-align: 5px;
}

h3 {
    font-size: 24px;
    font-weight: 900;
    color: #3e59b2;
    padding-bottom: 15px;
}

article {
    color: black;
}

article p {
    padding-bottom: 80px;
}

/* 
--------
FOOTER 
-------
*/
footer {
    padding: 80px 0;
    background-color: #e7e7e7;
    color: #b2b2b2;
}

footer p {
    padding: 0 0 35px 0;
    font-weight: 600;
    font-size: 20px;
}

footer li {
    padding: 0 62px;
    display: inline-block;
}

footer li a {
    background: transparent url("spacedesign/images/icons_social-media.png") 0 0 no-repeat;
    display: block;
    width: 46px;
    height: 46px;
    overflow: hidden; 
    /* text beyond width and height no longer available */
    text-indent: -8685px; /* push text off screen */
}

/* 
height of each contact logo is 46px so we just need to 
push positioning by increments of 46 V
*/
.twitter_logo {
    background-position: 0 0;
}

.facebook_logo {
    background-position: 0 -46px;
}

.email_logo {
    background-position: 0 -92px;
}

.insta_logo {
    background-position: 0 -138px;
}
