body {
    background: #2f2840 url(../company_site/spacedesign/images/bg_body.gif) 0 repeat;
    font-family: "Nunito", sans-serif;
    text-align: center;
    padding: 135px 0 115px 0;
}

header, main, footer {
    margin: 0 auto;
}
nav {
    font-size: 26px;
    padding-bottom: 38px;
}

h1 {
    margin: 0 0 115px 0;
}

li {
    display: inline;
}

nav li {
    padding: 0 42px;
}

body > header li {
    padding: 0 40px;
}


a {
    text-decoration: none;
    color: #cacaca;
}

a:active {
    color: #6db9ff;
    font-weight: bold;
}

main {
    background-color: white;
    padding-top: 120px;
    width: 100% auto;
    /* min-width: 800px; */
}

article, h2, h3, p {
    padding: 0 50px;
}

body > main article {
    height: 50%;
    color: black;
    min-width: 800px;
}
body > main p {
    font-size: 20px;
    padding-bottom: 80px;
}

p {
    font-weight: 600;
    font-size: 20px;
}

h2 {
    font-size: 36px;
    padding-bottom: 38px;
}

h3 {
    font-size: 24px;
    font-weight: 900;
    color: #3e59b2;
    padding-bottom: 10px;
}

footer {
    height: 300px;
    width: 100%;
    background-color: #e7e7e7;
    color: #b2b2b2;
}

body > footer p {
    text-align: center;
    padding: 85px 3px 0 3px;
    max-width: 580px;
    margin: 0 auto;
}

footer li {
    display: inline-block;
    padding: 60px;
}

footer li a {
    background: transparent url("spacedesign/images/icons_social-media.png") 0 0 no-repeat;
    display: block;
    height: 46px;
    overflow: hidden;
    text-indent: -8685px;
    width: 46px;
}


.twitter_logo {
    background-position: 0 0;
}


.facebook_logo {
    background-position: 0 -46px;
}

.email_logo {
    background-position: 0 -92px;
}

.insta_logo {
    background-position: 0 -138px;
}
