/* Inheriting from SD_home.css */

.team-intros {
    padding-top: 110px;
}

.team-intros ul {
    padding-bottom: 200px;
}

.team-intros li  {
    display: inline-block;
    padding: 0 30px;
}

.team-intros a {
    text-decoration: none;
}
    
.team-intros a:active {
    color: red;
}

.team-intros a img {
    margin: 0 auto;
}
.team-intros a span {
    display: block;
    /* 
    make block-level elements to
    stack the name directly under the image, 
    */
    font-size: 24px;
    color: rgb(72 26 124);
    margin-top: 24px;
}