body {
    margin: 10px auto;
    padding: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    max-width: 1000px;
    border: 2px solid rgb(168, 165, 165);
    color: rgb(82, 80, 80);
}
article {
    margin: 20px;
    box-sizing: border-box;
    /* outline: palegoldenrod solid 2px; */
}
h1, h2, h3 {
    color: rgba(190, 51, 1, 0.865);
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    margin-top: 16px;
    size: 1rem;
}

p {
    line-height: 2rem;;
}

div {
    margin: 40px 0;
}

.anchor-box {
    border: 2px rgb(47, 47, 47) dashed;
    position: relative;
    width: 600px;
    left: 45px;
    padding: 30px;
}

a {
    text-decoration: none;
    color: rgb(47, 47, 47) ;

}


.margin a{
    margin: 30px;
}

.padding a {
    background-color: rgb(2, 131, 39);
    border: 2px solid rgb(10, 111, 39);
    color: white;
    padding: 28px 30px;

}

.float-box {
    padding: 60px 60px 60px 0;
}

.float-box a{
    position: relative;
    float: top;
    left: 40px;
    margin: 15px 10px;
    padding: 25px 30px;
}

code {
    font-family: monospace;
    font-size: 1rem;
}

/* article:nth-child(2) div{
    background-color: aquamarine;
    box-sizing: border-box;

} */

#block-div-2 {
    box-sizing: border-box;
    height: 60px;
    padding: 20px;
    margin: 20px;
}

#block-div-3 {
    box-sizing: border-box;
    width: 90px;
}


#block-div-4 {
    background-color: rgba(216, 112, 147, 0.455);
    color: white;
    box-sizing: border-box;
    width: 180px;
    height: 120px;
    margin: 20px;
    padding: 20px;
}

.float-left {
    position: relative;
    float: left;
    margin:20px 0;
}

.float-right {
    position: relative;
    float: right;
    margin: 20px 0;
}

.red-border {
    border: red 1px solid;
}
.blue-box {
    background-color: rgb(36, 128, 227);
    color: white;
}

.orange-box{
    background-color: rgb(255, 89, 0);
    color: white;
}

.green-box {
    background-color: rgb(2, 131, 39);
    color: white;
}

.box-half {
    position: relative;
    padding-top: 20px;
    height: 40px;
    text-align: center;
}

#half-1 {
    width: 40%;

}

.half-2 {
    width: 50%;
}

.cf {
    margin: 0;
    padding: 0;
}

.cf::before,
.cf::after {
    content: "";
    display: block;
}

.cf::after {
    clear:both;
}


.block-wrap a{
    display: block;
    box-sizing: border-box;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.inline-block-wrap {
    margin: 0 10%;
    box-sizing: border-box;
}
.inline-block-wrap a{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    padding: 20px 10px;
    margin: 10px;
    width: 22%;
  
}

#box1-float, #box2-float {
    margin-top: 10px;
    padding: 40px;
}
#box3-float {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
}

.no-margin-div {
    margin:0;
}
.stacked-boxes {
    box-sizing: border-box;
    margin:0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

#format-header {
    border-top: 2px dashed rgb(47, 47, 47);
    padding-top: 30px;
    text-align: center;
}
ul {
    margin-bottom: 50px;
    margin-left: 40px;
    box-sizing: border-box;
}
li {
    font-style: italic;
    line-height: 2rem;
}

.round-box {
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
#fixed-box {
    position: fixed;
    bottom: 0;
    left: 40px;
    background-color: rgba(36, 128, 227, 0.818);
    color: rgba(253, 252, 252, 0.828);
}

#relative-box {
    position: relative;
    width: 300px;


}

#absolute-box {
    position: absolute;
    bottom: 0;
}

#absolute-box, #fixed-box {
    width: 150px;
    padding: 20px 30px;
}