body, section, article, aside {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
}

section {
    max-width: 1000px;
    background-color: beige;
    margin: 0 auto;
    overflow: hidden;
}

article, aside {
    padding: 1rem;
    float: left;
    box-sizing: border-box;
    
}

article {
    width: 500px;
    background-color: palevioletred;
}

aside {
    float: none;
    overflow: hidden;
    background-color: palegoldenrod;
}

