* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

.container {
    background-color: rgb(58, 56, 56);
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
}

header {
    padding-top: 10px;
    text-align: center;
}

figure, img {
    margin: 0;
    padding: 0;
}

figure img {
    width: 100%;
    border: white 10px solid;
}

figcaption {
    padding: 10px 0 30px 0;
}

.small-photos {
    --gap: 15px;
    --cols: 4; /* how many img's to display per row */
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.small-photos img {
    /* default: 4 per row */
    width: calc((100% - (var(--cols) - 1) * var(--gap)) / var(--cols)); 
    border: white 5px solid;
}

@media screen and (max-width: 899px) {
    /* 3 in a row */
    .small-photos { --cols:3; }
}


@media screen and (max-width: 599px) {
    /* 2 in a row */
    .small-photos { --cols: 2;}
}


